.vs/
bin/
build/
src/build/
src/Debug/
src/msvc/
src/backup/
old/
resources/*
*~
*.exe
*.ilk
*.pdb
misc/
#*.*#
*.obj
.vscode/*
.vscode
raylib/
asteroids
web/
*.zip
src/third_party/raygui/
save.dat
*.so
